<div class="container">
  <div class="card p-5">
      <h3 class="text-center text-white">Total RoadMaster users</h3>
      <h6 class="text-center text-white">Total user current:{{totalusers}}</h6>
  </div>

  <div class="table-responsive mt-5">
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>S.No</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let userss of users; let i = index" class="border-bottom">
                  <td>{{i+1}}</td>
                  <td>{{userss.data.firstname}}</td>
                  <td>{{userss.data.lastname}}</td>
                  <td>{{userss.data.email}}</td>
                  <td><button class="btn btn-danger">Delete</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
