
<div class="container">

    <h1 class="text-center mt-5 mb-5 ">Welcome Admin Dashboard</h1>
    <div class="row justify-content-center">
        <div class="card cards p-3 sm:p-1">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-2">
                <div class="card cardinner justify-content-center rounded-lg" routerLink='/categories'>
                    <div class="card-body text-center bg-theme-secondary">
                        <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
                        <h2 class="text-theme-primary">Category</h2>
                        <p>Manage Your Category Details Here</p>
                    </div>
                </div>
            
                <div class="card cardinner justify-content-center rounded-lg" routerLink='/subscribers'>
                    <div class="card-body text-center bg-theme-secondary">
                        <h1 class="mt-3 text-theme-primary"><i class="fas fa-user-check"></i></h1>
                        <h2 class="text-theme-primary">Subscribers</h2>
                        <p>You Can See Total Roadmaster Subscribers</p>
                    </div>
                </div>
            
                <div class="card cardinner justify-content-center rounded-lg" routerLink='/users'>
                    <div class="card-body text-center bg-theme-secondary">
                        <h1 class="mt-3 text-theme-primary"><i class="fas fa-user-circle"></i></h1>
                        <h2 class="text-theme-primary">Users</h2>
                        <p>You Can See Total Roadmaster users</p>
                    </div>
                </div>
            </div>
            
                <!-- ----------- -->
                <div class="grid grid-cols-1  md:grid-cols-2 gap-4 md:gap-2 mt-3">

                    <div class="card cardinner justify-content-center" routerLink='/freeinsuranceaccept'>
                        <div class="card-body text-center bg-theme-secondary">
                            <h1 class="mt-3 text-theme-primary"><i class="fas fa-envelope-open-text"></i>
                            </h1>
                            <h2 class="text-theme-primary">Free Insurance Request</h2>
                            <p>U can accept User Free Insurance Request Here</p>
                        </div>
                    </div>

                    <div class="card cardinner justify-content-center" routerLink='/claim'>
                        <div class="card-body text-center bg-theme-secondary">
                            <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-medical"></i> </h1>
                            <h2 class="text-theme-primary">Claim Request</h2>
                            <p>U can Accept user claim Request Here</p>
                        </div>
                    </div>

                </div>


                <!-- ------------------ -->
                 <div class="grid grid-cols-1  md:grid-cols-3 gap-4 md:gap-2 mt-3">
                    <div class="card cardinner justify-content-center" routerLink='/posts'>
                        <div class="card-body text-center bg-theme-secondary">
                            <h1 class="mt-3 text-theme-primary"><i class="fas fa-file-image"></i> </h1>
                            <h2 class="text-theme-primary">Posts</h2>
                            <p>Manage Your Posts Details Here</p>
                        </div>
                    </div>
                       
                    <div class="card cardinner justify-content-center" routerLink='/insurance'>
                        <div class="card-body text-center bg-theme-secondary">
                            <h1 class="mt-3 text-theme-primary"><i class="fas fa-shield-alt"></i>
                            </h1>
                            <h2 class="text-theme-primary">Insurance</h2>
                            <p>Manage Your Insurance Details Here</p>
                        </div>
                    </div>
            
            
                    <div class="card cardinner justify-content-center" routerLink='/comments'>
                        <div class="card-body text-center bg-theme-secondary">
                            <h1 class="mt-3 text-theme-primary"><i class="fas fa-comments"></i>
                            </h1>
                            <h2 class="text-theme-primary">comments</h2>
                            <p>Allow U Liked comments Only</p>
                        </div>
                    </div>
                    </div>

        </div>
      

        </div>
    </div>








